hr.hr-1{
    border: 0;
    width: 50vw; /*임시 조정필요*/
    height: 3px;
    background-color: black;
    text-align: center;

}

body {
    background-color: white;
}

.box1 {
  border-radius: 25px;
  background-color: lightgray;
  width: 70%;
  height: auto; /*임시 조정필요*/
  margin: 10% auto; /* 이미지와 큰 간격을 둡니다 */
  text-align: center;
  padding: 10px;
}

@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
@font-face {
   font-family: 'GangwonEduSaeeum_OTFMediumA';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.myText {
    font-size: 4vw;
    text-align: center;
}
.yourText {
    font-size: 4vw;
    text-align: left;
    padding-left : 10%;
}